db.sqlite3
ClothingCoordinator/__pycache__/__init__.cpython-312.pyc
ClothingCoordinator/__pycache__/settings.cpython-312.pyc
ClothingCoordinator/__pycache__/urls.cpython-312.pyc
ClothingCoordinator/__pycache__/wsgi.cpython-312.pyc
generator/__pycache__/__init__.cpython-312.pyc
generator/__pycache__/admin.cpython-312.pyc
generator/__pycache__/apps.cpython-312.pyc
generator/__pycache__/models.cpython-312.pyc
generator/__pycache__/urls.cpython-312.pyc
generator/__pycache__/views.cpython-312.pyc
generator/migrations/__pycache__/__init__.cpython-312.pyc
login_manager/__pycache__/__init__.cpython-312.pyc
login_manager/__pycache__/admin.cpython-312.pyc
login_manager/__pycache__/apps.cpython-312.pyc
login_manager/__pycache__/forms.cpython-312.pyc
login_manager/__pycache__/models.cpython-312.pyc
login_manager/__pycache__/urls.cpython-312.pyc
login_manager/__pycache__/views.cpython-312.pyc
login_manager/migrations/__pycache__/__init__.cpython-312.pyc
db.sqlite3
