{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/generator.css' %}">
    <script src="{% static 'css/generator.js' %}" defer></script>
</head>
<body>
{% if request.user.is_authenticated %}
  <p>{{ request.user.username }}</p>
  <a href="{% url 'logout' %}">Logout</a>
{% else %}
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'signup' %}">Signup</a>
{% endif %}
<h1 id="header">Clothing Generator</h1>
<div class="admin-links">
    <a href="{% url 'add_item' %}">Add Item</a>
    <a href="{% url 'remove_item' %}">Remove Item</a>
</div>
<div class="menu-container">
    <form id="selectionForm">
        <div class="menus">
            <div class="weather-menu">
                <div class="weather-btn">
                    <span class="wBtn-text">Select the weather</span>
                </div>
                <ul class="options">
                    <li class="option">
                        <span class="option-text">Any</span>
                    </li>
                    <li class="option">
                        <span class="option-text">Cold</span>
                    </li>
                    <li class="option">
                        <span class="option-text">Temperate</span>
                    </li>
                    <li class="option">
                        <span class="option-text">Warm</span>
                    </li>
                    <li class="option">
                        <span class="option-text">Hot</span>
                    </li>
                </ul>
            </div>
            <div class="shade-menu">
                <div class="shade-btn">
                    <span class="sBtn-text">Select the shade</span>
                </div>
                <ul class="shade-options">
                    <li class="shade-option">
                        <span class="sOption-text">Any</span>
                    </li>
                    <li class="shade-option">
                        <span class="sOption-text">Light</span>
                    </li>
                    <li class="shade-option">
                        <span class="sOption-text">Dark</span>
                    </li>
                </ul>
            </div>
            <div class="accessory-menu">
                <div class="accessory-btn">
                    <span class="aBtn-text">Include Accessory</span>
                </div>
                <ul class="accessory-options">
                    <li class="accessory-option">
                        <span class="aOption-text">Either</span>
                    </li>
                    <li class="accessory-option">
                        <span class="aOption-text">Yes</span>
                    </li>
                    <li class="accessory-option">
                        <span class="aOption-text">No</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-sbtn">
            <button class="submit-button">Submit</button>
        </div>
    </form>
    <div id="generated"></div>
</div>

</body>
</html>
